$responseBoxColor: #7eb8f9
$koalaBackground: #2fb5de
$skycolor: #c0e7fc
$cardColor: #006cb2
$shadowBoxColor: #2c65ac

$wordBoxColor: #52c211
$shadowBoxColor2: #48ab0f
$titleAppColor: #1100AA

$backgroundCardHome: #ffde57
$shadowCheckIcon: #faac00
$darkShadowCheckIcon: #e5860a

$shadowCancelIcon: #d04161
$fontColorGrey1: #707070
$incorrectBackground: #ffdfe0
$correctBackground: #d7ffb8

$box-shadow: 0px 3px 6px 2px
$border-radius-item: 1em

@font-face
    font-family: GhoticB
    src: url('../fonts/GOTHICB.TTF')

@font-face
    font-family: Coopbl
    src: url('../fonts/COOPBL.TTF')

@font-face
    font-family: Ghotic
    src: url('../fonts/GOTHIC.TTF')

@font-face
    font-family: Century
    src: url("../fonts/CENTURY.TTF")
